body {
    font-size: 12px;
}

.header_top {
    height: 30px !important;
    height: 29px;
    line-height: 30px;
    color: #676767;
    overflow: hidden;
    background: #def5fd;
    float: right;
}